<!doctype html>

<html lang="en">
<head>
    <title>Corporation RPG Char Manager</title>
    <meta charset="utf-8">

    <meta name="description" content="WebApp for creation and managment of Corporation RPG Chararacters">
    <meta name="author" content="Wiktor Dolecki">

    <!-- Using fonts from Google https://fonts.google.com/selection?selection.family=Aldrich|Roboto:500 -->
    <link href="https://fonts.googleapis.com/css?family=Aldrich|Roboto:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css"/>

    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.js"></script>
    <script defer src="main.js"></script>
</head>

<body>
<h1>Corporation RPG Char Manager</h1>
<div id="app">
    <form class="characterData-form" @submit.prevent>
        <p>OBI Stark Demo</p>
        <div id="characterData-summary">
            <h2>Summary</h2>
            <div class="stat-box">
                <template v-for="(value, name) in this.summary">
                <label for="summary-field">{{name}}</label>
                <summary-field :field-name=name @update-summary-field="updateSummaryField"></summary-field>
                </template>
            </div>
        </div>

        <div id="characterData-stats">
            <h2>Stats</h2>
            <div class="stat-box">
                <template v-for="(value, name) in this.stats">
                    <label for="stat-input">{{name}}</label>
                    <primary-stat :stat-name=name @update-primary-stat=updatePrimaryStat></primary-stat> 
                </template>
            </div>
        </div>

        <div id="backend-selection">
            <div>
                <input type="radio" id="cf-backend" value="https://corporation.cfapps.io/" v-model="endpoint">
                <label for="cf-backend">https://corporation.cfapps.io</label>
            </div>
            <div>
                <input type="radio" id="local-backend" value="http://localhost:8080/" v-model="endpoint">
                <label for="local-backend">http://localhost:8080</label>
            </div>
            <button type="button" v-on:click=createCharacterCall>Create</button>
            <button type="button" v-on:click=printCharacterCall>Print</button>
        </div>
    </form>
</div>
</body>
</html>
