/* CSS Style for Corporation Char Mgr */

h1, h2 {
  font-family: 'Aldrich', sans-serif;
  text-align: center;
}

p {
  font-family: 'Aldrich', sans-serif;
}

div.stat-box {
  display:grid;
  grid-template-columns: max-content max-content;
  grid-gap:5px;
}
div.stat-box label {
  text-align:left;
}

div#character-summary{
  float: left;
  min-width: 20%;
}

div#character-stats{
  float: left;
  min-width: 20%;
}

div#backend-selection {
  clear: both;
}

label {
  font-family: 'Aldrich', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
}

input[type=submit] {
  font-family: 'Aldrich', sans-serif;
  float: left;
}

button {
  font-family: 'Aldrich', sans-serif;
}
